.switch-btn {
  text-align: center;
  color: white;
  text-shadow: 0px 0px 2px black;
  height: 30px;
  width: 30px;
  border: none;
  outline: none;
  border-radius: 100%;
  box-shadow: inset 1px 1px 2px 2px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
  transition: all 100ms ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;
}

.switch-btn:hover {
  box-shadow: inset 2px 2px 2px 2px rgba(255,255,255,.5),
    9px 9px 10px 0px rgba(0,0,0,.1),
    6px 6px 3px 0px rgba(0,0,0,.1);
}

.toggle-off-btn{
  background: linear-gradient(45deg,  #942931, #6b141b);
}

.toggle-on-btn{
  background: linear-gradient(45deg, #41b83d, #2b9627);
}